*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
  display: flex;
}

/* main chat with user_____________________*/
.cardsContainer{
  height: 100vh;
  background: #A1AFB1;
  display: flex;
  scrollbar-width: none;
  flex-direction: column;
  gap: 10px;   
  padding: 10px;
  align-content: flex-start;
  justify-content: center;
  width: calc(100vw - 370px);
}

.mainCard{
  display: flex;
  height: 100vh;
  border-radius: 5px;
  width: 100%;
  flex-direction: column;
  background-color: #D1D1D1;
  /* opacity: 0.7; */
}

/* search + navigate_+ buttons___________________*/

.mainBlock{
  display: flex;
  background: #A1AFB1;
}

.navigation {
  height: calc(100vh - 20px);
  width: 350px;
  background-color: #D1D1D1;
  border-radius: 5px;
  margin: 10px;
  overflow: hidden;
}


.messageTitle{
  display: flex;
  height: 44px;
  /* margin-top: 30px; */
  padding: 10px;
}


.search {
  display: flex;
  align-items:normal;
  height: 41px;
}

#searchinput{
  display: flex;
  width: 80%;
  background: #D1D1D1;
  /* opacity: 50%; */
  padding: 10px;
  border-radius: 5px;   
  border: none;
  font-size: 100%;
  font-style: normal;
  height: 100%;
  width: 100%;
  outline: none;

}


#searchBtn{
  width: 20%;
  display: flex;
  border-radius: 5px;
  padding-left: 15px;
  background: #D1D1D1;
  cursor: pointer;
  border: none;
  
}

.searchInput{
  display: flex;
}



.buttons{
  display: flex;
  width: 100%;
  height: 57px;
  /* flex-direction: row; */
  justify-content: space-between;
  padding: 10px;
}

.navBtn{
  display: flex;
  align-items: center;
  justify-content: center;  
  width: 15%;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  border: none;
  background: #c0c6c7;
  font-style: normal;
}
.navBtn:hover{
  background: #A1AFB1;
}
/* buttons calls/chats/settings */

.btnsContainer{   
  width: 100%;
  height: 95px;
  display: flex;
  background-color: #c0c6c7;

}
.btns{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 18px;
}

.btns img{
  width: 30px;
  height: 30px;
}
.bottomBtn{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  border: none;
  background: #cfcfcf;
  font-style: normal;
  text-decoration: none;
  color: inherit;
}
.bottomBtn:hover{
  background: #A1AFB1;
}


/* chats_________________________*/

.chatContainer{
  display: flex;
  flex-direction: column;
  height: calc(100% - 280px);
  overflow-y: scroll;
  scrollbar-width: none;
}
.chatList{
  width: 100%;
  border: 1px;
  border-radius:5px;
}

.chatList:hover{
  background: #A1AFB1;
}

.chatItem{
  display: flex;
  padding: 10px;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  cursor: pointer;
}

.chatItem:hover{
  transition: 0.8s ease
}

.avatar{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.userInfo{
  flex: 1;
  min-width: 0;
}

.chatTop{
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;
}

.userName{
  font-weight: bold;
}

.chatTime{
  color: grey;
  font-size: 12px;
}

.chatMessage{
  font-size: 14px;
  color: #555;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


/* send message + chat */


.avatarSmall {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.topbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  background-color: #c0c6c7;
  padding: 10px 20px;
}
.topbar .left{
  flex: 0.5;
}

.topbar .center{
  flex: 1;
  text-align: left;
}

.topbar .right{
  flex: 0.5;
  align-items: center;
}



.searchInChat{
  padding: 5px 20px ;
  resize: none;
  border-radius: 15px;
  border: none;
  text-align: left;
  cursor: pointer;
  outline: none;
  background-color: #A1AFB1;
}




.chatWithUser{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}




.messageType{
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  background:  #D1D1D1;
  
}
.typing{
  flex: 1;
  resize: none;
  border: none;
  background:#bbbfc0;
  border-radius: 7px;
  scrollbar-width: none;
  height: 140%;
}

.sendMess{
  border-radius: 5px;
  border: none;
  cursor: pointer;
  padding: 8px 16px;
  background: #4BC8D2;
}

.message{
  max-width: 60%;
  padding: 8px 12px;
  border-radius: 10px;
  background: #aac3c7;
  align-self: flex-start;
  color: #111; 
  line-height: 1.4;       
  position: relative;
  word-break: break-word;
  white-space: pre-wrap;
}


.message.sent{
  background: #adb3b4;
  align-self: flex-end;
}


.messages{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  overflow-y: auto;
  flex: 1;
  position: relative;
  z-index: 1;
  /* overflow-y: scroll; */
  overflow-x: hidden;
  scrollbar-width: none;
  word-wrap: break-word;
}






.gradientCircle {
  background: #4BC8D2;
  background: radial-gradient(circle, rgba(75, 200, 210, 0.87) 0%, #aac3c700 72%);
  top: 10%;
  height: 60vh;
  width: 60vh;
  border-radius: 10000px;
  position: absolute;
  z-index: 0;
  left: -200px;
}





/* time */ 

#timeDisplay{
  position: relative;
  top: 10px;
  height: 47px;
  text-align: center;
  z-index: 9999;
  font-size: 20px;
  padding: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}




/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */